apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world
  labels:
    app: {{ template "app.fullname" . }}
    service: hello-service
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello-app
      service: hello-service
      release: {{ .Release.Name }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: {{ template "app.fullname" . }}
        service: hello-service
        release: {{ .Release.Name }}
